.btn {
  display: inline-block;
  border-style: none;
  height: 32px;
  line-height: 32px;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
  transition: all 0.1s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.btn-full {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-green {
  background-color: rgb(84, 206, 84);
}
.btn-green:hover {
  background-color: rgb(125, 240, 125);
}
