.card-list {
  background-color: #ebecf0;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 272px;
  max-height: 100%;
  position: relative;
  white-space: normal;
  padding: 8px;
}

.card-list h4 {
  margin: 0 0 15px;
}

.card-list li {
  background-color: #fff;
  color: #172b4d;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  padding: 10px;
  cursor: pointer;
  display: block;
  margin-bottom: 8px;
  max-width: 300px;
  min-height: 20px;
  position: relative;
  text-decoration: none;
}

.card-list li:hover {
  background-color: #f4f5f8;
}

.card-list footer {
  display: flex;
  padding: 5px;
  align-items: center;
  cursor: pointer;
  color: var(--color-grey);
}

.card-list footer:hover {
  background-color: #d6d6d6;
}

.card-list footer svg {
  margin-right: 5px;
}
