.menu {
  width: 300px;
  background-color: #f4f5f7;
  position: absolute;
  right: 0;
  top: 0;
  height: calc(100vh - 46px);
  padding: 10px;
  color: #172b4d;
}

.menu header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d6d8df;
  padding-bottom: 10px;
}
.menu h3 {
  margin: auto;
}

.menu-list {
  margin-top: 20px;
}

.menu-list li {
  display: flex;
  margin-bottom: 15px;
  cursor: pointer;
}

.menu-icon {
  flex-basis: 30px;
}

.c-color {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 3px;
}

.menu-icon svg {
  font-size: 20px;
  fill: var(--color-grey);
}

.menu-description {
  display: block;
  font-size: 13px;
}

.menu-enter {
  opacity: 0;
  transform: translateX(200px);
}
.menu-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.menu-exit {
  opacity: 1;
}
.menu-exit-active {
  opacity: 0;
  transform: translateX(200px);
  transition: opacity 300ms, transform 300ms;
}
