html {
  --color-accent: #0079bf;
  --color-grey: #8d9094;
  --color-warning: #c75353;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  height: 100%;
  background-color: #fafbfc;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

.mainLayout {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.main-section {
  height: 100vh;
  position: relative;
}
.main-section::before {
  content: '';
  display: block;
  height: 45px;
  z-index: -5;
  background-color: var(--color-accent);
}

.hidden {
  display: none;
}

.transparent {
  background: transparent;
}

.warning {
  background-color: var(--color-warning) !important;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.box {
  background-color: #ffffff;
  border-radius: 3px;
  padding: 25px 40px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
  width: 400px;
}

.control {
  margin-bottom: 18px;
}

.help {
  margin-top: 5px;
}

.is-danger {
  color: red;
}

.input {
  width: 100%;
  font-size: 14px;
  background-color: #fafbfc;
  border: 2px solid #dfe1e6;
  border-radius: 3px;
  height: 44px;
  padding: 8px;
  color: #4d4d4d;
  transition: background-color 0.2s ease-in-out 0s,
    border-color 0.2s ease-in-out 0s;
}

.input.is-danger {
  border-color: rgb(230, 132, 132);
}

.br {
  height: 15px;
  border-top: 1px solid #d6d1d1;
}
