.card-page {
  position: relative;
  height: calc(100% - 46px);
}
.card-page::before {
  content: '';
  display: block;
  position: absolute;
  top: -45px;
  left: 0;
  right: 0;
  height: 45px;
  background-color: inherit;
}

.cardpage-header {
  height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cardpage-header > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cardpage-header__left > *:not(:last-child) {
  margin-right: 16px;
  position: relative;
}

.cardpage-header__left > *:not(:last-child)::after {
  content: '';
  display: block;
  position: absolute;
  top: 20%;
  right: -8px;
  width: 1px;
  height: 60%;
  background-color: rgba(255, 255, 255, 0.308);
}

.card-page__title {
  color: white;
  font-size: 18px;
  font-weight: bold;
}
.cardpage-header span {
  cursor: pointer;
  padding: 3px 12px;
  border-radius: 3px;
  display: block;
}
.accent-icon svg {
  fill: #e6c60d !important;
}
.card-page__title span:hover {
  background-color: rgba(255, 255, 255, 0.288);
}

.lists-container {
  display: flex;
  align-items: flex-start;
}

.lists-container > div {
  margin-right: 8px;
}

.empty-list {
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  color: white;
  border-radius: 3px;
  box-sizing: border-box;
  width: 272px;
  position: relative;
  white-space: normal;
  padding: 8px;
  cursor: pointer;
  transition: all 200ms;
}
.empty-list:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
